.image-container div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    text-align: center;
    display: block;
    font-size: 100px; /* שינוי גודל הכיתוב */
}

.image-container img {
    width: 100%;
    height: 100%;
    /* opacity: 0.7; שקיפות רק לתמונה */
}