<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="custom-form-wrapper">
            <h2 class="text-center mb-4">
                <mat-icon>person_add</mat-icon>
                Sign In
              </h2>
          <form [formGroup]="SigninForm">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput type="text" formControlName="address">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="register()">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>