<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="jobs-container">
<mat-card class="job-card">
    <mat-card-header>
      <mat-card-title>{{ employeePosition.positionName }} </mat-card-title>
      <mat-card-subtitle *ngIf="employeePosition.isManagement">A managerial position</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>from: {{ employeePosition.entryDate| date }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="primary" aria-label="Edit" (click)="editEmployeePosition()">
            <mat-icon>edit</mat-icon>
          </button>
          
      </mat-card-actions>
  </mat-card>
</div>